<div class="container">
    <h1>Add requests</h1>
    <form>
      <div class="form-group">
        <label for="dept">Department:</label>
        <select id="view" >
            <option selected="selected">Select Department</option>
            <option >Finance It</option>
            <option >Risk IT</option>
            <option >Technology IT</option>
        </select>
      </div>
<br>
      <div class="form-group">
        <label for="skill">Skillset:</label>
        <input type="text" class="form-control" id="skill" required>

      </div>
      <br>
     <div class="form-group">
        <label for="noofresources">No Of Resources:</label>
        <input type="text" class="form-control" id="noofresources">
      </div>
      <br>
      <div class="form-group">
        <label for="designation">Designation:</label>
        <input type="text" class="form-control" id="designation">
      </div>
      <br>
      <div class="form-group">
        <label for="minexperience">Minimum Experience:</label>
        <input type="text" class="form-control" id="minexperience">
      </div>
      <br>
      <div class="form-group">
        <label for=" linemanager"> line Manager:</label>
        <input type="text" class="form-control" id="linemanager">
      </div>
      <br>
      <div class="form-group">
        <label for=" linemanager"> Deadline:</label>
       <input type="date" name="bday" id="deadline">
      </div>
 <br>
      <button type="submit" (click)="myClickFunction($event)">Submit</button>
 


 
    </form>
</div>